*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    font-size: 3rem;
    margin: 20px 100px;
    text-align: center;
    font-weight: 700;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.card img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    /* box-shadow: 0 0 10px #333; */
}

.card:hover img{
    filter: grayscale(0%);
}

.card:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #333);
}

.card figcaption{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    opacity: 0;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); */
    transition: 0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}